.navMenu{
    border: 1px solid blue;
}

.navMenu ul li {
     list-style-type: none;
     border: 1px solid red;
     background-color: rgba(31, 123, 210, 0.822);
    border-radius:5px ;
     
}

.navMenu ul{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
 
}

.navMenu ul li a{
    text-decoration: none;
    font-size: 30px;
    color: white;
   
}
